.SearchPanel {
  height: 100vh;
  width: 300px;
  background: #e6e6e6;
  box-shadow: 2px 1px 9px 0px #c3c3c3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
