.Footer {
  background-color: #dcdcdc;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 10px;
  place-items: center;
  display: flex;
  justify-content: center;
}
